@font-face {
	font-family: "futura";
	src: url("../media/futurabold.otf");
}

body {
	display: flex;
	font-family: "futura";
	background-image: url("../media/gameboy_background_sm.jpg");
	background-size: 50% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	font-size: larger;
	overflow-block: visible;
}

#board, #instructions, #info { flex: 1; }

#board {
	display: flex;
	justify-content: center;
	height: 53vh;
	margin-top: 18.8vh;
}

#gameover {
	font-size: xx-large;
	padding: 28% 0;
}

h2 {
	border: 5px solid black;
	border-radius: 60px;
	padding: 4px;
	width: 185px;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

#keyboard, #mouse { margin-left: 5px; }

#instructions, #info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 70vh;
}

.instructions_keyboard_buttons, .instructions_mouse_buttons {
	display: flex;
	width: 300px;
	align-items: center;
	margin-left: 15px;
}

.instructions_keyboard_buttons img {
	width: 40px;
	height: 40px;
	border: 5px solid black;
	border-radius: 10px;
}

.instructions_mouse_buttons img {
	width: 50px;
	border: 5px solid black;
	border-radius: 10px;
}

.instructions_keyboard_buttons p, .instructions_mouse_buttons p { margin-left: 20px; }

#info { 
	align-items: flex-end;
	justify-content: flex-start;
}

#score_board, #code { margin-right: 5px; }

#code:hover, #tetris:hover, #about:hover {
	color: white;
	background: black;
}


/*Media queries*/
@media (max-width: 1080px) {	
	body {
		font-size: small;
		background-size: 63% 100%;
	}

	h2 { width: 115px; }

	#info { height: 503px; }

	.instructions_keyboard_buttons p, .instructions_mouse_buttons p { margin-left: 5px; }
}

@media (max-width: 980px) {
	body {
		background-size: 99% 100%;
		background-position: initial;
	}

	#instructions { display: none; }

	#board { margin-left: 33%; }

	#info { justify-content: flex-start; }

	#score_board, #code, #about, #tetris { background: white; }

	#gameover { padding: 18vh 0; }
}

@media (max-width: 630px) {
	#gameover { font-size: x-large; }

	#board { margin-left: 31%; }
}

@media (max-width: 505px) {
	#board { margin-left: 27%; }
	
	#info{ font-size: xx-small; }
	
	h2 { width: 80px; }
	
	#gameover { margin-left: 40%; }
}

@media (max-width: 405px) {
	#board { margin-left: 22%;}
}
