@font-face {
	font-family: "futura";
	src: url("../media/futurabold.otf");
}

body {
	display: flex;
	font-family: "futura";
	background-image: url("../media/gameboy_background_sm.jpg");
	background-size: 55% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	font-size: larger;
	overflow-block: visible;
}

#board, #instructions, #about {
	flex: 1;
}

#board {
	display: flex;
	justify-content: center;
	height: 405px;
	margin-top: 143px;
}

h2 {
	border: 5px solid black;
	border-radius: 60px;
	padding: 4px;
	width: 185px;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

#mouse {
	margin-top: 55px;
}

#instructions, #about {
	display: flex;
	flex-direction: column;
	height: 95vh;
	justify-content: start;
}

.instructions_keyboard_buttons, .instructions_mouse_buttons {
	display: flex;
	width: 300px;
	align-items: center;
}

.instructions_keyboard_buttons img {
	width: 40px;
	height: 40px;
	border: 5px solid black;
	border-radius: 10px;
}

.instructions_mouse_buttons img {
	width: 50px;
	border: 5px solid black;
	border-radius: 10px;
}

.instructions_keyboard_buttons p, .instructions_mouse_buttons p {
	margin-left: 20px;
}

#about {
	align-items: flex-end;
}

#score_board, #code {
	margin-right: 10px;
}

#code {
	margin-top: 314px;
}

#code:hover {
	color: white;
	background: black;
}