body {
	background-image: url("../media/gameboy_background_sm.jpg");
	background-size: 55% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

#board {
	display: flex;
	justify-content: center;
	height: 400px;
	margin-top: 148px;
}